<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.food.entity.Feedback">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

</mapper>
